<h1> All Services Available </h1>

<h3>Hair cut option</h3>
<%= link_to "Add New", hair_path%>
<ul>
    <% @hairs.each do |hair| %> 
        <li>
            <%=hair.hair%>
        </li>
    <% end %>
</ul>
<h3>Shape up option</h3>
<%= link_to "Add New", shape_up_path%>
<ul>
    <% @shape_ups.each do |shape_up| %> 
        <li>
            <%=shape_up.shape_up %>
        </li>
    <% end %>
</ul>
<h3>Face option</h3>
<%= link_to "Add New", facial_path%>
<ul>
    <% @facials.each do |facial| %> 
        <li>
            <%= facial.facial %>
        </li>
    <% end %>
</ul>
<h3>Facial Hair option</h3>
<%= link_to "Add New", facial_hair_path%>
<ul>
    <% @facial_hairs.each do |facial_hair| %> 
        <li>
            <%= facial_hair.facial_hair %>
        </li>
    <% end %>
</ul>
<h3>Extra</h3>
 <%= link_to "Add New", extra_path%>
 <ul>
    <% @extras.each do |extra| %> 
   
        <li>
            <%= extra.extra %>
        </li>
    <% end %>
</ul>