<div id="login">
      <div class="center">
<h3>Log in</h3>
<% if flash[:notification]%>
  <%=flash[:notification]%>
<%end%>
<%if flash[:errors]%>
    <%flash[:errors].each do |msg|%>
      <%=msg%>
    <%end%>
<%end%>

<%= form_tag logins_path do %>
  <div>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
  </div>
  <div>

      <%= label_tag :password %>
      <%= password_field_tag :password %>
  </div>
  <br>
  <%= submit_tag "Log in", class: 'submit' %>
<% end %>
<p>If you dont have an account click on <br><br>
  <%=link_to "Sign up", sign_up_path, class: 'submit' %></p>
  </div>
</div>
