<h1>Welcome</h1>
<%if flash[:notification]%>
    <%=flash[:notification]%><br>
<%end%>
<%if flash[:errors]%>
    <%flash[:errors].each do |msg|%>
    <%=msg%><br>
    <%end%>
<%end%>
<h2>What would you like to do today?</h2>
<h3><%=link_to "Profile Info", bprofile_path%></h3>
<h3><%=link_to "Today's Appointments"%></h3>
<h3><%=link_to "Edit Appointment"%></h3>
<h3><%=link_to "Cancel Appointment"%></h3>