<h1>Welcome</h1>

<h3><%=link_to "Profile Info", profile_path%></h3>
<%if flash[:errors]%>
    <ul>
        <%flash[:errors].each do |msg|%>
            <li>
                <%=msg%>
            </li>
        <%end%>
    </ul>
<%end%>
<p>Name: <%=@customer.name%></p>
<p><%= form_for @customer do |f|%><%=f.label :age, "Age: "%><%=f.text_field :age%>
<%=f.submit "Update"%><%end%></p>
<%if @customer.favorite_barber == nil%>
    <p>Favorite Barber: None</p>
<%else%>
    <p>Favorite Barber: <%=@customer.favorite_barber%></p>
<%end%>
<p>Location: <%=@customer.location%></p>
<p>Cell: <%=@customer.cell%></p>
<p>To change email and password click on security</p>
<h3><%=link_to "Make An Appointment"%></h3>
<h3><%=link_to "Edit Appointment"%></h3>
<h3><%=link_to "Cancel Appointment"%></h3>