<h1>Security Setting</h1>

<p><%= form_for @customer do |f|%><%=f.label :email, "Email: "%><%=f.text_field :email%>
<%=f.submit "Update"%><%end%></p>
<p>Password <%=button_to "Update Password", pass_change_path(@customer)%></p>