<h3>Log in</h3>
<div class="login">
  <div class="sign-up">
  <%=link_to "Sign up", csign_up_path, class: "submit"%>
  </div>
  <div class="center">
<% if flash[:notification]%>
  <%=flash[:notification]%>
<%end%>
<%if flash[:errors]%>
    <%flash[:errors].each do |msg|%>
      <%=msg%>
    <%end%>
<%end%>
<%= form_tag clogin_path do %>
  <ul>
    <li>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </li>
    <li>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </li>
  </ul>
  <%= submit_tag "Log in", class: "submit"%>
<% end %>
</div>
</div>
