<h1><%=link_to "Profile",profile_path%></h1>
<h2>Security Setting</h2>

<p>Email: <%=@customer.email%><%=button_to "Edit", email_change_path(@customer), method: :get %></p>
<p>Password <%=button_to "Update Password", pass_change_path(@customer),method: :get %></p>
<br>
<%= form_for @customer, method: :delete do |f| %>
    <% f.submit "Delete Account" %><%end%>

