<!DOCTYPE html>
<html>
  <head>
    <title>EasyCuts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <% if @logged_in_customer %>
          Logged in as <%= @logged_in_customer.name %>
          <%= form_tag logout_path, method: :delete do %>
            <%= button_tag  "logout" %>
          <% end %>
        <%end%>
      </header>
    <%= yield %>
  </body>
</html>
